<p>
  I’m a full spectrum Doula based in Apex, NC. A full spectrum Doula is prepared as birth doula, postpartum doula and reproductive health.
</p>

<p>
  I’m a woman who believes everyone must be respected and informed, especially when they are living moments full of vulnerability and meaning, like births, postpartum or loss.
</p>

<p>
  I really believe that together and with tiny little changes we can make a real difference in this crazy world... starting by births, why not!?
</p>

<p>
  I’m offering virtual doula support.
</p>
